body {
    margin-top: 20px;
    margin-bottom: 50px;
    background: none;
    font-family: Consolas, "微軟正黑體";
    color: #97A3AB;
    background-color: #263238;
}

.footer {
    color: #97A3AB;
    text-align: right;
}

th,
td {
    text-align: center;
}