body {
    margin-top: 20px;
    margin-bottom: 50px;
    background: none;
    font-family: Consolas, "微軟正黑體";
    color: #97A3AB;
    background-color: #263238;
    min-width: 360px;
}

hr {
    border-top: 1px solid #DEE2E6;
}

.filter {
    margin: 0;
}

.filter>tbody>tr>th,
.filter>tbody>tr>td {
    color: #97A3AB;
    padding: 5px;
}

.filter>tbody>tr>th {
    text-align: center;
    vertical-align: middle;
}

.dialog>tbody>tr>th {
    text-align: center;
    vertical-align: middle;
}

.carousel-caption {
    top: 0px;
    left: 15%;
    right: auto;
    padding: 0px;
    color: #212529;
    font-weight: bold;
}

.modal-body {
    padding-top: 0px;
}

span>button,
span>input {
    margin: 5px 0px;
}

.media,
.accordion {
    background-color: #222D32;
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px #97A3AB solid;
}

.footer {
    text-align: right;
}

a:hover {
    color: #97A3AB;
}

a {
    color: #97A3AB;
}

.btn:hover {
    background-color: inherit;
}

.btn-primary:hover {
    background-color: #0069d9;
}

svg#hsbar {
    border: 1px solid #222D32;
    border-radius: 5px;
    margin-top: -15px;
}

#hsbar_text>div {
    text-align: center;
}

.MuiSnackbarContent-action {
    color: #97A3AB;
}

.MuiSnackbarContent-action>button>svg {
    margin-bottom: -2px;
}